{% extends 'BbrHomeBundle::layout.html.twig' %}

{% block content %}
	<div class="login">
	    <form action="{{ path('bbr_register') }}" method="POST" id="form_login">
	        {{ form_errors(formLogin) }}
	
	        {{ form_row(formLogin.email) }}
	        {{ form_row(formLogin.password) }}
	
	        {{ form_rest(formLogin) }}
	        <input type="submit" value="Login" />
	    </form>
	</div>

	<div class="user_creation">
	    <form action="{{ path('bbr_register') }}" method="POST" id="form_user_creation">
	        {{ form_errors(formUserCreation) }}
	
	        {{ form_row(formUserCreation.name) }}
	        {{ form_row(formUserCreation.firstName) }}

	        {{ form_row(formUserCreation.address) }}
	        {{ form_row(formUserCreation.zip) }}
	        {{ form_row(formUserCreation.city) }}


	        {{ form_row(formUserCreation.email) }}
	        {{ form_row(formUserCreation.password) }}
	        {{ form_row(formUserCreation.password) }}
	
	        {{ form_rest(formUserCreation) }}
	        <input type="submit" value="Subscription" />
	    </form>
	</div>
{% endblock %}
